/*
    body design to mimic a pin board. Use Udemy colors and fonts
*/
body {
    color: #29303B;
    background-image: url("https://aweeeha.s3-eu-west-1.amazonaws.com/ufb/bg.png");
    font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
}

/*
    Restyle input fields
*/
input {
    font: 14pt open sans, helvetica neue, Helvetica, Arial, sans-serif;
    height: 16pt;
    padding: 15pt 12pt;
    border: 0;
}

/*
    Restyle radio button groups which are only used for
    color selection
*/
input[type='radio']:after {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    left: -3px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    left: -3px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 4px solid #007791;
}

input[type='radio'].yellow:after{
    background-color: #f4c150;
}

input[type='radio'].pink:after{
    background-color: #f4b7c1;
}

input[type='radio'].blue:after{
    background-color: #65b9cd;
}


/*
    Notes list and it's items
*/
.note-list {
    display: flex;
    flex-wrap: wrap;
}


.note-item {
    width: 216px;
    height: 290px;
    margin: 10px;
    box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}

.note-item:hover {
    box-shadow: 0 8px 15px 8px rgba(20,23,28,.15);
}

.yellow {
    background-color: #f4c150;
}

.pink {
    background-color: #f4b7c1;
}

.blue {
    background-color: #65b9cd;
}

.note-item .pin {
    color: #EC5252;
}

.note-item p {
    font-style: italic;
    padding: 0 7px;
}

.note-item .noteTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*
  Floating add note button
*/
.add-note-btn {
    width: 70px;
    height: 70px;
    right: 5%;
    bottom: 5%;
    font: 14pt bold open sans, helvetica neue, Helvetica, Arial, sans-serif;
    background: #007791;
    color: white;
    border: 0;
    border-radius: 35px;
    position: fixed;
    z-index: 1;
    text-align: center;
    cursor: pointer;
}

/*
    Note editor modal
*/
.modal {
    display: none;
    position: fixed;
    padding-top: 100px;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(81, 72, 65,0.4);
}

.modal-content {
    background-color: white;
    margin: auto;
    overflow: scroll;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 60%;
}

.modal .noteTitleInput {
    width: 100%;
    border-bottom: 1px solid #888;
    color: #29303B;
}

.modal .noteTitleInput.inactive {
    font-style: italic;
}

.modal-body {
    padding: 10px;
}

.modal .noteDetailsInput {
    width: 100%;
    height: 40%;
    border: 0;
    margin-top: 10px;
    font: 14pt open sans, helvetica neue, Helvetica, Arial, sans-serif;
    font-style: italic;
    color: #29303B;
}

.save-note {
    padding: 15px 25px;
    font: 14pt bold open sans, helvetica neue, Helvetica, Arial, sans-serif;
    background: #007791;
    color: white;
    border: 0;
    border-radius: 25px;
}

.close {
    color: #514841;
    font-size: 28px;
    font-weight: bold;
    float: right;
}

.close:hover,
.close:focus {
    color: #29303B;
    text-decoration: none;
    cursor: pointer;
}

.delete {
    color: #e23a40;
    font-size: 28px;
    font-weight: bold;
    float: right;
    cursor: pointer;
}

/*
  Responsiveness to support mobile display
*/
@media only screen and (max-width: 600px) {
    .note-item {
        width: 40%;
        margin: 10px;
        height: 350px;
    }
    .modal {
        padding: 0;
    }
    .modal-content{
        width: 90%;
        height: 90%;
    }
}
